/* Write your CSS here! */
/* colors for page
	#0a0303 black
	#a9e2ea blue
	#e45435 orange
	#87a2a7 grey */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
** {
	padding: 0;
	margin: 0;
}

header {
	background: #00283c;
	display: flex;
	flex-direction: column-reverse;
	height: auto;
	font-family: "Bitter", serif;
	padding: 0%;
	margin: 0%;
}
article,
header {
	border-radius: 16px;
	margin: 4px;
}

h1 {
	text-shadow: #0a0303;
	font-size: 48px;
	margin: 4px;
	padding: 0px 8px;
}

header p {
	font-size: 105%;
	font-weight: 300;
	margin-bottom: 24px;
	padding: 0px 24px;
}

body {
	margin: 8px;
	display: block;
	background-color: #0a0303;
	font-family: "Bitter", serif;
}

#mainHeading {
	color: #ff0000;
}

.funParagraph {
	color: #008000;
}

#testP {
	color: white;
}
article {
	color: #0000ff;
}

.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	margin: 0;
	border-radius: 16px;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
	background: #0a0303;
	outline: none;
	border: 0;
	flex-grow: 1;
	word-wrap: normal;
	min-height: max-content;
	text-wrap: wrap;
	text-align: center;
	padding: 15px;
}
.navigation a:hover {
	background: #00283c;
}

article {
	display: inline-flex;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 24px;
	box-shadow: inset 0px 0px 10px #0a0303;
}

article h2 {
	font-size: 3vw;
	margin: 0;
	text-align: center;
	padding: 0;
}
article div {
	padding-left: 24px;
	margin: 0;
	padding-bottom: 0px;
}

.alternate-odd {
	color: #0a1b29;
	background-color: #b7c7da;
}
.alternate-even {
	color: #0a1b29;
	background-color: #b7c7da;
}
img {
	box-shadow: 0px 0px 8px #0a0303;
	width: 20vw;
	height: 20vw;
	margin-right: 24px;
}

footer {
	color: #b7c7da;
}

/* https://huemint.com/website-2/#palette=0a0303-a9e2ea-e45435-87a2a7 */
